body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0e6d2;
}
#book-container {
    width: 80vw;
    height: 90vh;
    cursor: grab;
}
